<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffddb3;">
  <a class="navbar-brand" href="#">        <img src = "http://www.dailymedi.com/wys2/file_attach/2021/09/10/1631243542-71.png" height=30px width=110px>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-bar-collapse" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    　　　　　　
  <i class="fa fa-home" aria-hidden="true"></i> 　
<%= link_to '홈', posts_path %>　　　
<i class="fa fa-comments" aria-hidden="true"></i>　
<%= link_to '채팅', rooms_path %>　　　
<i class="fa fa-user" aria-hidden="true"></i>　
<%= link_to '나의 당근', info_index_path %>　 　　　　    
	<div>
	<% if user_signed_in? %>
		　　　　
		   <%= current_user.email %>
		  </div>
        <img src = "https://cdn-icons-png.flaticon.com/512/1626/1626708.png" height=30px width=40px>

	
        <%= current_user.nickname %>　
		 <span class="badge badge-primary even-larger-badge bg-light text-dark" ><%= link_to "로그아웃", destroy_user_session_path, method: :delete %> </span>

				   
      </a>

    </div>
		 
	<% else %>
　　　　　　　　　　　　　　　　　
<span class="badge badge-primary even-larger-badge bg-light text-dark" ><%= link_to "로그인", user_session_path %> </span>
		  
　
		 <span class="badge badge-primary even-larger-badge bg-light text-dark" >  <%= link_to "회원가입", "/users/sign_up" %> </span>

	<% end %>
	
</nav>