<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>

<div class="container py-2">
  
	  <div class="row">
    <div class="col-4"> 
		
		
　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
	 	</div>
    <div class="col-4"><h1 class="display-4 font-weight-bold">　<img src = "/posttitle2.png"><h1></div>
    <div class="col-4">
		<%= render 'searches/search_form', post: @posts.klass %>
			<h2></h2>

					<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-warning"><%= current_user.area %></button>
  <button type="button" class="btn bg-warning"><%= link_to '활동지역 변경',edit_user_registration_path%> </button>
</div>
		
  </div>
		</div>

		
		
	
		
		
		
		
		
		
		
		
		
		
		<h3><span class="badge rounded-pill bg-warning text-dark"><i class="fa fa-plus" aria-hidden="true"></i><%= link_to '상품 등록', new_post_path %></span></h3>
		
		
	  
<div class="row pb-5 mb-4">
	
	
    <% @posts.each do |post| %>
	
	
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-4">
      <!-- Card-->
		
		
		
		
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-4"><img src="<%=post.image %>" alt="" class="img-fluid d-block mx-auto mb-3">
		
          <h5> <a href="#" class="text-dark"><%= link_to post.title, post %></a></h5>
          <p class="small text-muted font-italic"><%= post.price %>원　　　　　　　　　　　　</p>
				<i class="fa fa-heart" ></i>　<%= post.likes.size %>
			</p>
          
        </div>
      </div>

		
    </div>
  <% end %>
    

</div>
		  
		  
		  
		  
		  
		  
		  
		  
		
		  
		  
		  
		  
		  
		  
		  
		  
		  
	