
	  <div class="row">
    <div class="col-6"><p>
    <strong></strong>
    <%= image_tag("#{@post.image}") %>
</p></div>
    <div class="col-6"> 
  <strong><h2>
	  　　　　　　　　　　　　　　　<span class="badge rounded-pill bg-secondary text-light">상품명</span>
	  <%= @post.title %></strong></h2>
  
		<strong><h2>
	  <span class="badge rounded-pill bg-secondary text-light">가격</span>
	  　<%= @post.price %>원</strong></h2>
		
		
			<strong><h2>
	  <span class="badge rounded-pill bg-secondary text-light">상품 설명</span>
	  <%= @post.content %></strong></h2>
		
		
		
<h2>　</h2>
		
	
		
 
  <% if current_user.is_like? (@post) %>
  <form action='/post/<%= @post.id%>/like' method='post'>
  <button><i class="fa fa-heart" aria-hidden="true"></i>　<%= @post.likes.size %></button>
  
  </form>
  
  <% else %>
  <form action='/post/<%= @post.id%>/like' method='post'>
  <button><i class="fa fa-heart-o" aria-hidden="true"></i>　<%= @post.likes.size %></button>  
  </form>
  
  <% end %>
				<h2>　</h2>

	<button type="button" class="btn btn-outline-secondary"><%= link_to '채팅', new_room_path %>
</button>		
		  
	 
		   <button type="button" class="btn btn-outline-secondary"><%= link_to '수정', edit_post_path(@post) %>
</button> 
		    	  
	   <button type="button" class="btn btn-outline-secondary"><%= link_to '삭제', @post, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %>

</button> 
	  
		  
			<button type="button" class="btn btn-outline-secondary"><%= link_to '뒤로 가기', posts_path %></button>


		

		
  </div>
		  	
  </div>






 