<p id="notice"><%= notice %></p>

<p>
  <strong>상품명:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>가격:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>상품 설명:</strong>
  <%= @post.content %>
</p>


 
<p>
  <strong>찜:</strong>
  <%= @post.likes.size %> 명이 찜했습니다. 
</p>
 
<p>
  <% if current_user.is_like? (@post) %>
  <form action='/post/<%= @post.id%>/like' method='post'>
  <button> 찜 취소 </button>  
  </form>
  
  <% else %>
  <form action='/post/<%= @post.id%>/like' method='post'>
  <button> 찜 </button>  
  </form>
  
  <% end %>
</p>

<%= link_to '뒤로 가기', posts_path %>


<%= link_to '채팅', new_room_path %>
